@charset "utf-8";

*{      /* significa todos elementos (h1, h2, h3...h8, p, main, footer...) */
    margin: 0px;        /* elimina a margem de todos os elementos*/
    padding: 0px;       /* elimina o pad de todos os elementos*/
}
body{
    background-color: white;
    font: normal 15pt Arial;
}

header h1{
    color: white;
    text-align: center;
    padding: 30px 0px 30px 0px;
}

section{
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    height: 60vh;
    margin: auto;       /* configura automaticamente a box main para ficar centralizada na tela*/
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.342);

}

div#idade{
    
    font-size: 5vh;
}

div#msg{

    border: 1px solid black;
    border-radius: 10px;
     
}


footer p{
    text-align: center;
    padding-top: 10px;
    color: white;
}